APP_NAME=Nine-A-EmTradingBot
ENVIRONMENT=DEV
DEBUG=True

DB_HOST=localhost
DB_PORT=1433
DB_NAME=TradingBot
DB_USER=sa
DB_PASSWORD=StrongPassword123

EXCHANGE_NAME=BINANCE
EXCHANGE_API_KEY=
EXCHANGE_API_SECRET=
USE_TESTNET=True

MAX_DAILY_LOSS_PERCENT=5
MAX_POSITION_SIZE_PERCENT=2
MAX_OPEN_POSITIONS=5
MAX_ACCOUNT_DRAWDOWN_PERCENT=20

ENABLE_EMAIL_ALERTS=False
ENABLE_AI=False